/** @format */
body{
    
    background-image:url("plant.jpg");
    background-size:cover;
    background-position:center;
    background-repeat: no-repeat;
}

body {
    background-color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    
}

th {
    background-color: #52d379;
    
    color: rgb(3, 3, 3);
}

td {
    color: #020202;
    
    background-color: #469279;
    
}

p {
    color: #2c3135;
    font-size: 14px;
}


table,
th,
td {
    font-family: 'Montserrat', sans-serif;
    border-radius: 5px;
    border: 1px;
    border-color: #7e7575;
    text-align: center;
   

    
    
   
}

td:hover {
    background-color: #048019;
}

th,
td {
    padding: 10px;
    width: 200px;
}

input {
    font-family: 'Montserrat', sans-serif;
    border-radius: 10px;
    margin-top: 5px;
    border: 1px solid #080808;
    width: 150px;
    height: 10px;
    padding: 10px;
    
}

.form {
    display: flex;
   
}

form {
    width: 200px;
    background-color: #52d379;
    text-align: center;
    font-weight: bold;
}

  .container {
    text-align: center;
  }

  button {
    width: 100px;
    padding: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    border-radius: 10px;


  }
